*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --border-radius: 15px;
    --box-shadow: 15px 10px ;
}
body{
    background:#141414;
}

.card{
    border: 2px solid red;
    display:grid;
    background: #1f1f1f;
    margin: 15rem auto;
    padding-bottom: 1.5rem;
    width: 50vw;
}
.card-btn{
    display: grid;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 0 6rem;
}




























.attribution{
    margin-top: 31rem;
}