*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --border-radius: 10px;
    --box-shadow: 15px 10px ;
}
@font-face {
    font-family: Inter-Bold;
    src: url('./assets/fonts/static/Inter-Bold.ttf');
}
@font-face {
    font-family: Inter-Regular;
    src: url('./assets/fonts/static/Inter-Regular.ttf');
}
@font-face {
    font-family: inter-SemiBold;
    src: url('./assets/fonts/static/Inter-SemiBold.ttf');
}
@font-face {
    font-family: Inter-VariableFont;
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body{
    background:#141414;
}

.card{
    /* border: 2px solid rgb(0, 0, 255); */
    background: #1f1f1f;
    margin: 15rem auto;
    padding-bottom: 1.5rem;
    width: 50vw;
    border-radius: var(--border-radius);
    width: 24%;
    padding-top: 2rem;
    
}
.card-btn{
    display: grid;
    gap: 0.75rem;
    place-content: center;
    
    /* border: 2px solid red; */
}
.btn {
    /* padding: 0 6rem; */
    padding: 0.75rem 5rem;
    border-radius: var(--border-radius);
    background: #333333;
    border: none;
    color: white;
    font-family: Inter-Regular;
    font-weight: 100;
}
.btn:hover{
    background:#d6f460 ;
    color: #333333;
    cursor: pointer;
}

.header{
    display: grid;
    place-content: center;
}
img{
    display: grid;
    width: 5rem;
    margin-left:  auto ;
    margin-right: auto;
    border-radius: 50rem;
}
.h-name{
    color: #f0f0f0;
    font-family: Inter-Regular;
    font-weight: 100;
    font-size: 1.3rem;
    margin-bottom: 0.40rem;
}
.h-place{
    color:#d6f460 ;
    font-family: Inter-Regular;
    font-weight: 100;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
.parag{
    color: #d9d9d9;
    font-family: Inter-regular;
    font-weight: 50;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}























.attribution{
    margin-top: 31rem;
}